@charset "UTF-8";
body, p, dl, dd, ul, ol, li, div, h1, h2, h3, h4, h5, h6, form, input, table, tr, td {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

.brand{
    width: 100%;
    height: 100%;
}
.brand01{
    width:1519px;
    height: 665px;
    margin-bottom: 150px;
}
.brand01 img{
    width:1519px;
    height: 665px;
}
.brand02{
    width:1519px;
    height: 665px;
   
}
.brand02 img{
    width:1519px;
    height: 665px;
   
}